<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Prediction App!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Prediction App!</h1>
        <p>Choose a prediction model to get started.</p>
        <a href="/predict" class="predict-button">Predict MPG</a>
        <a href="/predict_diabetes" class="predict-button">Predict Diabetes</a>
        <img src="{{ url_for('static', filename='pickone.png') }}" alt="PickOne wordart">
    </div>
</body>
    </div>
</body>
</html>


