<!-- Extend the base template -->
{% extends "base.html" %}

<!-- Set the page title -->
{% block page_title %}
Recipes!
{% endblock %}

<!-- Set the H1 description -->
{% block H1_Description %}
    <h1 class="page-title text-center">Recipes!</h1>
{% endblock %}

<!-- Set the H1 content -->
{% block H1_Content %}
    <h2 class="greeting text-center">This page of Marcus' Recipe Website allows you to look at the recipes on the website!</h2>
{% endblock %}

<!-- Set the main content of page -->
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Loop through the recipes and display each one in a card -->
            {% for recipe in recipes %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <!-- Display recipe image -->
                        <img src="{{ url_for('static', filename=recipe['Image Link']) }}" alt="{{ recipe['Recipe Name'] }}" class="card-img-top">
                        <div class="card-body">
                            <!-- Display recipe details -->
                            <h5 class="card-title">{{ recipe['Recipe Name'] }}</h5>
                            <div class="recipe-details">
                                <p><strong>Ingredients:</strong> {{ recipe['Ingredients'] }}</p>
                                <p><strong>Preparation:</strong> {{ recipe['Preparation Instructions'] }}</p>
                                <p><strong>Serving:</strong> {{ recipe['Serving Instructions'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body_class %}recipe-background{% endblock %}